* {
    margin: 0;
    padding: 0;
}

/* Navbar CSS */

.navbar {
    height: 80px;
    background-attachment: fixed;
    background-image: radial-gradient(#7bbdce, #7e7bce);
    background-size: 100% 30%;
    text-align: left;
    width: 100vw;
}

.navbaractive {
    position: relative;
    background: none;
    height: 80px;
    width: 100%;
    z-index: 5;
}

nav li {
    font-size: 23px;
    margin-top: 10px;
    list-style-type: none;
    display: inline-block;
}

nav li a {
    text-decoration: none;
    padding: 10px 20px;
    color: #ffe8d1;
}

nav li h1 {
    text-decoration: none;
    padding: 10px 20px;
    color: #ffe8d1;
}

.navImg img {
    position: relative;
    height: 150px;
    float: right;
    z-index: 3;
    transform: translateY(-113px);
}

.navbar a:hover {
    color: #dac1a9;
}

.navItem.active a {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

/* Home CSS */
.banner {
    margin-top: -80px;
    background-attachment: fixed;
    background-image: radial-gradient(#bd427c, #babd42, #42bd83, #4542bd);
    background-size: 600% 600%;
    background-position: center;
    animation: banner-animation 100s infinite alternate;
    text-align: center;
    color: rgb(255, 247, 98);
    height: 100%;
}

@keyframes banner-animation {
    0% {
        background-position: top right;
    }
    25% {
        background-position: bottom left;
    }
    50% {
        background-position: top center;
    }
    75% {
        background-position: center;
    }
    100% {
        background-position: top right;
    }
}

.content {
    transform: translateY(300px);
}

.color {
    font-size: 9rem;
}

.company {
    font-size: 1.7rem;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 69px;
}

/* About CSS */

.content {
    width: 100vw;
    height: auto;
}

.bios {
    width: 100vw;
}

.bio {
    padding: 15px;
    margin: 15px;
    width: 40vw;
    background-color: #7bbdce;
    border-radius: 30px;
}

.bio img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    border-radius: 15px;
    z-index: 2;
}

.bio img:hover {
    transition: ease-in-out 0.3s 0.15s;
    width: 300px;
}

h1.intro {
    padding: 70px;
    color: #57549d;
    font-size: 6rem;
    display: inline-block;
    text-align: center;
}

/* Color CSS */

.lower table,
.lower th,
.lower td {
    border: 1px solid black;
    min-width: 30px;
}

.upper table,
.upper th,
.upper td {
    border: solid black;
    min-width: 30px;
}
