* {
    margin: 0;
    padding: 0;
}

html {
    width: 100vw;
}

/* Navbar CSS */

nav ul {
    height: 80px;
    background-attachment: fixed;
    background-image: radial-gradient(#7bbdce, #7e7bce);
    background-size: 100% 30%;
    text-align: left;
    width: 100vw;
}

nav li {
    font-size: 23px;
    margin-top: 10px;
    list-style-type: none;
    display: inline-block;
}

nav li * {
    text-decoration: none;
    padding: 10px 20px;
    color: #ffe8d1;
}

.navbar a:hover {
    color: #dac1a9;
}

.navItem.active a {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

/* Main CSS */

.content {
    width: 100vw;
    height: auto;
}

.bios {
    width: 100vw;
}

.bio {
    padding: 15px;
    margin: 15px;
    width: 40vw;
    background-color: #7bbdce;
    border-radius: 30px;
}

img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    border-radius: 15px;
    z-index: 2;
}

img:hover {
    transition: ease-in-out 0.3s 0.15s;
    width: 300px;
}

h1.intro {
    padding: 70px;
    color: #57549d;
    font-size: 6rem;
    display: inline-block;
    text-align: center;
}
